/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
  --daisyui-themes: night;
  --font-sans: "Montserrat";

  --keyframes-fadeIn: 0% { opacity: 0; } to { opacity: 1; };

  --animation-fadeIn: fadeIn 0.3s ease-in-out;
}

@layer base{
  @font-face{
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-alternates/Montserrat-Medium.ttf') format('truetype');
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }
}
